<div class="divAltaProducto" name="formProducto">
    <div class="row">
	    <div class="{{resultado.estilo}}" ng-show="resultado.ver">
	        <span style="font-size:26px;">{{resultado.mensaje}}</span>
	    </div>
    </div>
    <div class="row">
    	<div class="col-lg-4">
    		<div ng-show="uploader.isHTML5">
			    <div nv-file-drop="" uploader="uploader">
			        <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone" style="height:30%; background-color:#FFFFFF; border: 1px solid #000000">
			            Arrastre la imagen
			        </div>
			    </div>
			</div>
			<ul>
			<!-- Muestro los datos de los archivos a cargar -->
		        <li ng-repeat="item in uploader.queue">
		        	<!-- nombre del archivo -->
		            Archivo: <span ng-bind="item.file.name"></span><br/>
		            <!-- imagen del archivo -->
		            <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
		            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
		                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
		            </button>
		            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
		                <span class="glyphicon glyphicon-trash"></span> Remove
		            </button>
		        </li>		
		    </ul>
    	</div>
	    <div class="col-lg-8">
        	<h2 class="h2Login">Nuevo Producto:</h2>
    		<input type="text" placeholder="Nombre" class="txtLogin" name="nombre" ng-model='producto.nombre' required>
	    	<textarea placeholder="Descripcion" class="txtLogin" name="descripcion" ng-model='producto.descripcion' required></textarea>
	    	<input type="number" placeholder="Precio" class="txtLogin" style="width:30%; display: block" name="precio" ng-model='producto.precio' required>
	    	<div style="width:100%;">
	    		<input type="submit" value="Guardar" class="btnLogin" style="width:30%; float:right" ng-disabled="formProducto.$invalid" ng-click="Guardar()">
	    	</div>
    	</div>
	</div>
</form>
