<div class="container" style="margin-top:5%">
    <div class="{{resultado.estilo}}" ng-show="resultado.ver">
        <span style="font-size:26px;">{{resultado.mensaje}}</span>
    </div>
	<utn-titulo titulo="Listado de Productos"></utn-titulo>
	<div class="row">
		<div class="col-lg-2" ng-repeat="producto in ListadoProductos">
			<a ng-click="VerProducto(producto)">
				<img src="img/logoIndumentariaABCS.png" style="width:100%">
				<p style="width: 100%; font-size:28px; text-align:center">${{producto.precio}}</p>
				<h4 style="width: 100%; font-size:14px">{{producto.nombre}}</h4>
			</a>
		</div>
	</div>
</div>