<div class="container">
	<div class="page-header">
		<center><h1>ABM - PHP - Angular</h1> </center>     
	</div>
	<div class="CajaInicio animated bounceInRight">
		<h1>PERSONAS</h1>
		<form id="FormIngreso" class="FormIngreso">
			<button ng-click="irAAlta()" class="list-group-item  list-group-item list-group-item-info">
				<h4 class="list-group-item-heading">Alta de Personas</h4>
			</button>
			<button ng-click="irAGrilla()" class="list-group-item  list-group-item list-group-item-info">
				<h4 class="list-group-item-heading">Grilla de Personas</h4>
			</button>
		</form>
	</div>
</div>