<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation" style="background-color:#204862; border-color:#3481B5;color:#ffffff;">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" style="color:#ffffff" href="#" ng-if="logeado">Bienvenido {{usuarioLogeado.usuario}}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="estadistica.graficoDCN()" ng-if="!logeado" style="color: #ffffff;">Gráfico DCN</a></li>
                <li><a ui-sref="login.registro()" ng-if="!logeado" style="color: #ffffff;">Registrarse</a></li>
                <li><a ui-sref="login.login()" ng-if="!logeado" style="color: #ffffff;">Login</a></li>
                <li><a ng-click="Salir()" ng-if="logeado" style="color: #ffffff;">Salir</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="intro-header"> 
    <div class="container">
    </div>
</div>
<!-- Footer -->
<utn-footer></utn-footer>